{% extends "events/event_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Section: Design Block -->
    <section class="background-radial-gradient overflow-hidden">
        <div class="container px-4 py-2 px-md-5 text-center text-lg-start my-5">
          <div class="row gx-lg-5 align-items-center mb-5">
                <!-- Create Event Form -->
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative" style="min-height: 5rem;">
                    <div class="card bg-glass">
                        <div class="card-body px-2 px-md-5">
                            <!--  Event Creation form -->
                            <div style="border-radius: 7px; box-shadow: 5px 5px 5px rgba(0, 0, 0, .7); border: 1px solid rgba(0, 0, 0, 0.507);">
                                <div class="mb-2 mb-lg-0" style="z-index: 10">
                                    <!-- Page Navigation Button Controls. -->
                                    <div>

                                    </div>
                                </div>
                                <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <fieldset class="form-group">
                                        <!-- Individual Form Fields -->
                                        <ul class="list-group" style="padding: 3px;">
                                            <!-- User Login information -->
                                            <li class="list-group-item" style="background-color: hsla(194, 45%, 26%, 0.815);"> 
                                                <h3 class="my-2 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                                                    Create an event
                                                </h3> 
                                                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="background-color:hsl(194, 65%, 20%);">
                                                    <strong><a href="{% url 'events:event_base' %}" style="color: #f8f9fa; text-decoration:none;"> Back to the Events Page </a></strong>
                                                </button>
                                            </li>
                                            <li class="list-group-item">
                                                <p style="                                                        text-align: justify;
                                                text-justify: inter-word;
                                                font-weight: 400;
                                                font-size: 1rem;
                                                padding:  1rem;"> 
                                                    Hi {{ user.first_name }} Nice of you to show up. Theres plently of awesome people around you also looking to kill sometime. 
                                                    Chicago can be a neat playground with the proper company. What kind of vibe are you feeling and what do 
                                                    you wanna see?
                                                </p>
                                            </li>
                                            <li class="list-group-item"> 
                                                {{ Event_Form|crispy }} </br>
                                            </li>
                                            <!-- Submit Button-->
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <button class="btn btn-outline-info mt-3" style="background-color:hsl(194, 65%, 20%)" type="submit">
                                                            <strong style="color: #f8f9fa; text-decoration:none;">Create</strong>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


