{% extends "events/event_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Section: Design Block -->
    <section class="background-radial-gradient overflow-hidden">
        <div class="container px-4 py-2 px-md-5 text-center text-lg-start my-5">
          <div class="row gx-lg-5 align-items-center mb-5">

                <!-- Create Event Form -->
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div class="card bg-glass" style = "border-radius: 10px; box-shadow: 5px 5px 5px rgba(0, 0, 0, .7); border: 1px solid rgba(0, 0, 0, 0.507);">
                        <div class="card-body px-2 py-5 px-md-5" >
                        <button class="btn btn-outline-info mb-1" style="background-color:hsl(195, 65%, 19%);">
                            <strong><a href="{% url 'events:event_base' %}" style="color: #f8f9fa; text-decoration:none;"> Back to the Events Page </a></strong>
                        </button>
                        <button class="btn btn-outline-info mb-1" style="background-color:hsl(195, 65%, 19%);">
                            <strong><a href="{%  url 'events:delete_event' event_details.id %}" style="color: #f8f9fa; text-decoration:none;"> Delete Event </a></strong>
                        </button>
                        <!--  Event Edit form -->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                  <!-- Individual Form Fields -->
                                  <ul class="list-group" style="padding: 5px; opacity: 90%;">
                                    <!-- Event Details -->
                                        <li class="list-group-item" style="background-color: hsla(194, 68%, 18%, 0.822); opacity: 100%;"> 
                                            <h1> Edit Event </h1>
                                            <p style=
                                            "font-size: large;
                                            text-align: justify;
                                            text-justify: inter-word;
                                            "> 
                                                Here are the details of your event. If there are any changes you need to make feel free to adjust some of the details below.
                                            </p>
                                        </li>
                                        <li class="list-group-item" style="background-color: hsla(194, 14%, 82%, 0.642);"> 
                                            <strong style="color: #363434;"> Title: {{ update_form.title}} </strong> 
                                        </li>
                                        <li class="list-group-item" style="background-color: hsla(194, 14%, 82%, 0.642);">
                                            <div style = "display: flex;">
                                                <div style="flex: auto;">
                                                    <strong>Starts:</strong> </br> 
                                                        {{ update_form.start_time}}
                                                </div>
                                                <div style="flex: auto;">
                                                    <strong>Ends:</strong> </br> 
                                                        {{ update_form.end_time}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item" style="background-color: hsla(194, 14%, 82%, 0.642);"> 
                                            <strong style="color: #363434;"> Description: {{ update_form.description}} </strong> 
                                        </li>
                                        <li class="list-group-item" style="background-color: hsla(194, 14%, 82%, 0.642);"> 
                                            <!-- Submit Button-->
                                            <div class="form-group">
                                                <button class="btn btn-outline-info mt-3" style="background-color:hsl(194, 65%, 20%)" type="submit">
                                                <strong style="color: #f8f9fa; text-decoration:none;">Update</strong>
                                                </button>
                                            </div>
                                        </li>
                                  </ul>
                                </fieldset>
                            </form>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>










{% endblock %}