{% extends "events/event_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Section: Area below upper navbar -->
<section class="background-radial-gradient" style="height: 100vh; overflow: auto;">
    <!-- Event Details Container -->
    <div class="card bg-glass" style="border-radius: 7px; box-shadow: 5px 5px 5px rgba(0, 0, 0, .7); border: 1px solid rgba(0, 0, 0, 0.507); max-width: 40rem; margin: auto;">
        <!-- Individual Event Details -->
        <ul class="list-group" style="padding: 3px;">

            <!-- Event Banner -->
            <li class="list-group-item" style="background-color: hsla(194, 39%, 27%, 0.87); min-height: 15rem; text-align: center; padding-top: 1.5rem;">
                <!-- Thumbnail-container Bounding div for work thumbnail. -->
                <div class="wrapper" style ="
                border-radius: 10px; 
                margin: auto;
                object-fit: contain;
                ">
                    <img src="{{ event_details.event_thumbnail.url }}" style="
                    border-radius: 10px;
                    max-height: 12rem;">
                </div>
                <span class="my-1 ls-tight" style="color: hsl(41, 79%, 85%); font-size: 1.6rem; font-weight: 450;">
                    {{ event_details.title}} 
                </span>
            </li>

            <!-- Create a front end placeholder to track who the host is.-->
            <li class="list-group-item" style="background-color: rgba(245, 239, 239, 0.74);"><strong>Host:</strong> </br> 
                <strong>{{ event_details.host.profile.first_name }}</strong>
                <img src= "{{ event_details.host.profile.image.url }}" style="height: 2rem; width: 2rem; border-radius: 20px;">
            </li>
            <!-- Description-->
            <li class="list-group-item" style="background-color: rgba(245, 239, 239, 0.74);"><strong>Details:</strong> </br> 
                {{event_details.description}} </br>

            </li>
            <!-- Scheduled Time -->
            <li class="list-group-item" style="background-color: rgba(245, 239, 239, 0.74);">
                <div style = "display: flex;">
                    <div style="flex: auto;">
                        <strong>Start Time:</strong> </br> 
                        {{event_details.start_time}}
                    </div>
                    <div style="flex: auto;">
                        <strong>End Time:</strong> </br> 
                            {{event_details.end_time}}
                    </div>
                </div>
            </li>
            <!-- Page Navigation Button Controls. -->
            <li class="list-group-item" style="background-color: rgba(245, 239, 239, 0.74);">
                <div style = "display: flex;">
                    <!-- Conditional filtering: Enforce check on participant permissions to allow navigation to edit controls. -->
                    {% if perms.events.can_edit_event %}

                        <!-- Evaluate whether the current user is the host with edit controls. -->
                        {% if event_details.host == request.user.id %}
                            <div style="flex: auto;">
                                <button class="btn btn-outline-info mt-2" style="background-color:hsla(197, 16%, 83%, 0.813); border: 1px;">
                                    <strong>
                                        <!-- Generic Model access template boilerplate -->
                                        <a href="{%  url 'events:edit_event' event_details.id %}" style="color: #050505; text-decoration:none;">
                                            <i class="fa-solid fa-pen" style="color: rgb(6, 6, 6)"></i> Edit Event: 
                                        </a>
                                    </strong>
                                </button>
                            </div>
                        <!-- User is not the host. -->
                        {% else %}

                        {% endif %}


                        
                    {% endif %}

                    <!-- Only allow user to join if they are signed in. -->
                    {% if user.is_authenticated %}
                            <!-- Show option to join if user not in participants add javascript confirmation message pre-post via DOM -->
                            <div style="flex: auto;">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-info mt-2" style="background-color:hsla(197, 16%, 83%, 0.813); border: 1px;" type="submit">
                                        <strong style="color: #000000; text-decoration:none;"> Join </strong>
                                    </button>
                                </form>
                            </div>
                    {% endif %}

                </div>
            </li>

        </ul>

    </div>
</section>

{% endblock %}