{% extends "events/event_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Section: Design Block -->
<section class="background-radial-gradient" style="height: 100vh; overflow:auto;">
    <div class="container py-1 text-center text-lg-start" style="max-width: 50rem;">
        <!-- Background card container -->

        <div class="card bg-glass">
            <div class="card-body px-1">
                <div style="margin-bottom: 1rem; text-align: center;">
                    <!-- List Header -->
                    <h2 class="jumbotron-heading" style="color:hsla(194, 65%, 20%, 0.616); font-size: 1.7rem;"><strong>Scheduled Events.</strong></h2>
                    <p class="event_heading">
                        Nice of you to join us heres what's currently happening around the airport. If you see something that looks interesting why don't you join in? Or if you're feeling up
                        to it feel free to invite some of your fellow solo travelers to join in on a new adventure.
                    </p>

                    <!-- Validate that user is signed in to Allow user to create event if they are logged in -->
                    {% if user.is_authenticated %}
                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="background-color:hsl(194, 65%, 15%);">
                            <strong><a href="{% url 'events:create_event' %}" style="color: #f8f9fa; text-decoration:none;"> Create Event </a></strong>
                        </button>
                    {% else %}
                    <p class="event_heading">
                        If you would like to join the fun and create or join an event please log in or sign up. 
                    </p>
                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="background-color:hsl(194, 65%, 15%);">
                            <strong><a href="/login" style="color: #f8f9fa; text-decoration:none;"> Login or Sign Up </a></strong>
                        </button>
                    {% endif %}


                </div>
                    <!-- Iterate through all of the events published and stored in the db-->
                    {% for events in Events %}
                    <!-- Event Details w Styling + CSS Wireframing: -->
                    <!-- .card_outer_container: Outermost Container-->
                    <div class = "container-fluid card_outer_container">
                        <div class="row" style="margin-bottom: 0rem;">
                            <!-- Work Card Thumbnail -->
                            <div class="col-lg-4" >
                                <!-- .thumbnail_background: Event thumbnail background image -->
                                <div class="wrapper thumbnail_background" style ="background-image: url('{{ events.event_thumbnail.url }}');">
                                    <!-- .blur_layer: Blurred layer for smaller thumbnail image -->
                                    <div class="blur_layer">
                                        <!-- .event_thumbnail-->
                                        <img src= "{{ events.event_thumbnail.url }}" class="event_thumbnail">
                                    </div>
                                </div>
                            </div>
                            <!--  Text Description Column-->
                            <div class="col-lg-8">
                                <div style="padding-left: .2rem; padding-top: .7rem;">
                                    <div class="flex-shrink-0" style="padding-right: 1rem;">
                                        <!-- .event_text -->
                                        <ul class="event_text">
                                            <li style="color:#736b22; font-size: 1rem;"> {{ events.title }}</li>
                                            <li><i class="fa-regular fa-calendar"></i> {{ events.start_time }}</li>
                                            <li> Details: </li>
                                            <!-- .event_details -->
                                            <li class="event_details">
                                                    {{ events.description}}

                                            </li>
                                            <li>
                                                Host:
                                                    {% for participant in events.participants.all %}
                                                    <!-- Participant profile picture anchor tags -->
                                                    <a href="{% url 'layoverconnections:public_profile' participant.id %}" style="font-weight: 400; font-size: .4rem; color: black;">
                                                        <div style="vertical-align: top; display: inline-block; text-align: center; width: 1.6rem;">
                                                            <img src= "{{ participant.profile.image.url }}" style="height: 1.5rem; width: 1.5rem; border-radius: 20px;">
                                                            <span style="display: block;">{{ participant.first_name }}</span>
                                                        </div>
                                                    </a>
                                                    {% endfor %}
                                            </li>
                                            <li>
                                                <a href="{%  url 'events:event_details' events.id %}" style="color:rgb(33, 32, 46); font-weight: 400;">
                                                    <!--a href="{{ events.get_absolute_url }}" style="color:rgb(33, 32, 46); margin-top: 1rem;"-->
                                                        view event details
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>

    </div>
</section>


{% endblock %}