# Ignore files related to API keys
.DS_Store
__pycache__/
.ipynb_checkpoints/
venv
.venv
.vscode
.env

# Byte-compiled / optimized / DLL files
Layover_Connections/__pycache__/
layoverconnections/__pycache__/
/__pycache__/
__pycache__/
*.py[cod]
*$py.class