{% extends "layoverconnections/signup.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Registration form--> 

	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary btn-block mb-4" type="submit"><strong>Register</strong></button>
	</form>
	<!-- Sign In Redirect-->
	<p>If you already have an account login instead.</p>
	<a class="btn btn-primary btn-block mb-4" href="{% url 'layoverconnections:login' %}" role="button">
		<strong>Sign In</strong>
	</a>

{% endblock %}