{% extends "layoverconnections/base_profile.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<body>
  <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: hsl(218, 41%, 15%); height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <!-- Image upload from Database if none present provides a default thumbnail-->
                <img src="{{ user.profile.image.url }}"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
              </div>
              <div class="ms-3" style="margin-top: 100px;">
                <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                <p>
                        Age: {{ user.profile.age }}, 
                  <br> Hometown: {{ user.profile.hometown }}
                </p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <!-- Social Media Integration 
                <div class="px-3">
                  <p class="mb-1 h5"><a class="social-icon" href="#"><i class="fab fa-twitter"></i></a></p>
                  <p class="small text-muted mb-0">twitter</p>
                </div>
                <div>
                  <p class="mb-1 h5"><a class="social-icon" href="#"><i class="fab fa-instagram"></i></a></p>
                  <p class="small text-muted mb-0">Instagram</p>
                </div>
                -->
                <p class="lead fw-normal mb-3">
                  <!-- Django Utility to update profile information and pictures -->
                  <button type="button" class="btn btn-md btn-outline-secondary" style="background-color:hsl(194, 65%, 20%)">
                    <strong><a href="{% url 'layoverconnections:editprofile' %}" style="color: #f8f9fa; text-decoration:none;">Edit Profile</a></strong>
                  </button>   
                </p>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <!-- User profile information -->
                <div class="p-4" style="background-color: #f8f9fa;">
                  <strong>Hello, {{ user.first_name }}.</strong>
                  <!-- Provide Bio if present -->
                  {% if user.profile.bio %}
                    <p class="font-italic">                    
                      {{ user.profile.bio}}
                    </p>
                  {% else %}
                    <p class="font-italic mb-1">Tell fellow travelers a little bit about yourself and your hobbies. What type of activities would you like to explore
                      in a new city?
                    </p>
                  {% endif %}
                  <button type="button" class="btn btn-md btn-outline-secondary mt-2" style="background-color:hsl(194, 65%, 20%)">
                    <strong><a href="{% url 'layoverconnections:aboutme' %}" style="color: #f8f9fa; text-decoration:none;">Edit Bio</a></strong>
                  </button>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">
                  <!-- Upload photos -->
                  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="background-color:hsl(194, 65%, 20%);">
                    <strong><a href="#" style="color: #f8f9fa; text-decoration:none;">Upload Photos</a></strong>
                  </button> 
                </p>
              </div>
              <div class="row g-2">
                  <div class="col mb-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
                  <div class="col mb-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
              </div>
              <div class="row g-2">
                  <div class="col">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
                  <div class="col">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                      alt="image 1" class="w-100 rounded-3">
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}