{% load static %}

<!DOCTYPE html>
<!-- An HTML page that acts as the sign-in form-->
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
            </script>
        <link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
        <title>
            Layover Connections
        </title>
    </head>

<body>
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Layover Connections <br />
            <span style="color: hsl(218, 81%, 75%)">A Social Travel Hub.</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Welcome to Layover Connections the app where solo travelers can meetup and 
            spend time together to share stories and create new experiences. Sign up 
            to meet other travelers in the area and connect. Whether it's a quick 
            drink or some fun in the city we've got you covered.
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1"><strong>First Name</strong></label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2"><strong>Last Name</strong></label>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3"><strong>E-mail Address</strong></label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4"><strong>Password</strong></label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    <strong>Log In</strong>
                </button>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    <strong>Sign up</strong>
                </button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <!-- Google Sign-on Prompt Test on Django Server App-->
                  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                  <script>
                    function onSignIn(googleUser) {
                      // Useful data for your client-side scripts:
                      var profile = googleUser.getBasicProfile();
                      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                      console.log('Full Name: ' + profile.getName());
                      console.log('Given Name: ' + profile.getGivenName());
                      console.log('Family Name: ' + profile.getFamilyName());
                      console.log("Image URL: " + profile.getImageUrl());
                      console.log("Email: " + profile.getEmail());
              
                      // The ID token you need to pass to your backend:
                      var id_token = googleUser.getAuthResponse().id_token;
                      console.log("ID Token: " + id_token);
                    }
                  </script>



  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>

                                  <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" unchecked />
                    <label class="form-check-label" for="form2Example33">
                      Subscribe for updates to our app.
                    </label>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

</body>


</html>